@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Oxygen:wght@300;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Changa+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@900&display=swap");

:root {
  color-scheme: light;
  overflow-y: auto;
  overflow-x: hidden;
  --celeste: #cae5ff;
  --celeste1: #98b9f2;
  --celestefuerte: #306bac;
  --celesteoscuro: #141b41;
}

.brand-logo{
  display: flex;
  align-items: center;
  color: var(--celesteoscuro);
}
img {
  width: 100px;
  margin-bottom: 10px;
  border-radius: 10px !important;
}

body {
  height: 100vh;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-fontt-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -webkit-top-highlight-color: transparent;
  color: var(--infinity-body-text-color, var(--celesteoscuro)) !important;
  line-height: var(--infinity-line-height-base, 1.5);
  font-weight: var(--infinity-font-weigth-base, 400);
  background-color: var(--infinity-body-bg-color, #f1f5f9) !important;
  font-family: var(--infinity-font-primary, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji");
  transition: 1000ms;
}

body body::-webkit-scrollbar {
  width: 10px;
  height: 16px;
}

body body::-webkit-scrollbar-thumb {
  background-color: var(--celesteoscuro) ;
  border-radius: 10px;
}

body body::-webkit-scrollbar-thumb:hover {
  background-color: rgba(169, 169, 169, 0.668);
}

body img {
  display: block;
  max-width: 100%;
}

body header {
  color: var(--infinity-body-bg-color, #f1f5f9);
}

[data-theme=dark] {
  color-scheme: dark;
  --infinity-body-bg-color: #334155;
  --infinity-body-text-color: $color-slate-50;
  --infinity-heading-text-color: $color-slate-50;
  transition: 1500ms;
}

[data-theme=dark] .navbar {
  background-color: #334155 !important;
  color: #FFF !important;
  transition: 1500ms;
}

[data-theme=dark] .navbar .navbar-toggler {
  background-color: #FFF !important;
}

[data-theme=dark] .navbar li a {
  color: #FFF !important;
}

[data-theme=dark] .navbar li:hover {
  border-radius: 10px;
}

[data-theme=dark] .navbar li:hover a:hover {
  background-color: aliceblue;
  color: #334155 !important;
  transition: 100ms;
  border-radius: 10px;
}

[data-theme=dark] body main li:hover {
  border-radius: 30px;
}

[data-theme=dark] body main li:hover a:hover {
  background-color: aliceblue !important;
  color: #334155 !important;
  transition: 100ms;
  border-radius: 30px;
}

[data-theme=dark] .embed-iframe-items::-webkit-scrollbar-thumb {
  background-color: #FFF;
  border-radius: 10px;
}

[data-theme=dark] a {
  color: #FFF !important;
}

[data-theme=dark] .card {
  box-shadow: 0px 0px 5px 1px #e2e8f0;
}

[data-theme=dark] .card h5,
[data-theme=dark] .card p {
  color: #334155;
}

[data-theme=dark] .card:hover {
  box-shadow: 0px 0px 5px 1px #e2e8f0;
}

[data-theme=dark] .base-experience p {
  color: #334155;
}

[data-theme=dark] .btn-close {
  background-color: #FFF;
}

[data-theme=dark] .logo_Infinity {
  height: 80px;
  width: 80px;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("../img/logo.png");
  background-position: center;
}

[data-theme=dark] .offcanvas-header {
  background-color: #334155;
  color: #FFF;
  border-width: 0px 0px 1px;
  border-style: solid solid solid;
}

[data-theme=dark] .offcanvas-body {
  border-color: #FFF;
  background-color: #334155;
  color: #FFF;
}

/*Hystory*/
/*css Variables prefix*/
/*font family*/
/*font sizes*/
/*12px*/
/*14px*/
/*16px*/
/*18px*/
/*20px*/
/*24px*/
/*30*/
/*36px*/
/*48px*/
/*60px*/
/* font weigth*/
/*leading / line heights*/
/*COLORS*/
/*THEME GLOBAL VALUES*/
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--infinity-heading-text-color, #334155);
  font-weight: 500;
  line-height: 1.25;
  font-family: var(--infinity-font-secondary, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji");
}

h1-first-child,
h2-first-child,
h3-first-child,
h4-first-child,
h5-first-child,
h6-first-child {
  margin-top: 0;
}

h1-last-child,
h2-last-child,
h3-last-child,
h4-last-child,
h5-last-child,
h6-last-child {
  margin-bottom: 0;
}

h1 {
  margin: 32px 0;
  font-size: 40px;
}

h2 {
  margin: 32px 0;
  font-size: 36px;
}

h3 {
  margin: 32px 0;
  font-size: 30px;
}

h4 {
  margin: 20px 0;
  font-size: 24px;
}

h5 {
  margin: 18px 0;
  font-size: 20px;
}

h6 {
  margin: 16px 0;
  font-size: 18px;
}

p {
  color: var(--infinity-body-text-color, #64748b);
  margin: 16px 0;
  font-weight: 1.5;
}

p-first-child {
  margin-top: 0;
}

p-last-child {
  margin-bottom: 0;
}

/*css Variables prefix*/
/*font family*/
/*font sizes*/
/*12px*/
/*14px*/
/*16px*/
/*18px*/
/*20px*/
/*24px*/
/*30*/
/*36px*/
/*48px*/
/*60px*/
/* font weigth*/
/*leading / line heights*/
/*COLORS*/
/*THEME GLOBAL VALUES*/
.container {
  width: 100%;
  display: block;
  max-width: 1320px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px;
  /* // Small devices (landscape phones, 576px and up) */
}

@media only screen and (min-width: 360px) and (max-width: 576px) {
  .container p {
    font-size: 0.75rem !important;
  }

  .container h3 {
    font-size: 1.125rem !important;
  }
}

@media screen and (min-width: 768px) and (max-width: 975px) {
  .container p {
    font-size: 0.75rem !important;
  }

  .container h3 {
    font-size: 1.125rem !important;
  }
}

/*css Variables prefix*/
/*font family*/
/*font sizes*/
/*12px*/
/*14px*/
/*16px*/
/*18px*/
/*20px*/
/*24px*/
/*30*/
/*36px*/
/*48px*/
/*60px*/
/* font weigth*/
/*leading / line heights*/
/*COLORS*/
/*THEME GLOBAL VALUES*/
/*Variables locales*/
.base-layout {
  display: flex;
  flex-direction: column;
}

.base-header {
  top: 0;
  left: 0;
  right: 0;
  z-index: 9000;
  position: fixed;
  box-shadow: 0 0 1em -0.125em rgba(10, 10, 10, 0.1), 0 0 1px rgba(10, 10, 10, 0.02);
  border-bottom: 1px solid var(--prefix-header-border-color, #cbd5e1);
  background-color: var(--prefix-header-bg-color, #FFF) !important;
}

.base-headernav.navbar {
  background-color: var(--prefix-header-bg-color, #FFF) !important;
}

.base-headernav.navbar .bg-light {
  background-color: var(--prefix-header-bg-color, #FFF) !important;
}

.base-content {
  flex: 1;
  position: relative;
  margin-top: 10vh;
}

.base-footer {
  display: flex;
  position: relative;
  align-items: center;
  padding: 32px 16px;
  font-size: 16px;
  font-weight: 400;
  bottom: 0;
  background-color: var(--prefix-header-bg-color, #1e293b);
}

.base-footer p {
  color: var(--prefix-header-border-color, #cbd5e1);
  display: flex;
}

.base-footer ul {
  text-align: right;
  display: flex;
  list-style: none;
  gap: 15px;
  left: 120vh;
  bottom: 0px;
  align-items: center;
  justify-content: right;
  text-decoration: none;
  position: relative;
}

.base-footer li a {
  text-decoration: none;
  font-size: 16px;
  color: var(--prefix-header-border-color, #cbd5e1);
}

.base-contact-form {
  background-color: #478AC9;
  height: 350px;
  margin-top: 10vh;
  z-index: 9000;
}

.base-contact-form h2 {
  text-align: center;
  color: white;
}

.base #base-footer-addPro {
  position: relative;
  top: 40vh;
  width: 100%;
}

@media only screen and (min-width: 360px) and (max-width: 576px) {
  footer {
    position: relative;
    width: 100%;
    height: 20vh;
    top: 0vh;
    font-size: 15px;
  }

  footer ul {
    left: 1vh !important;
    list-style: none;
    gap: 15px;
    justify-content: right;
    text-decoration: none;
  }

  footer ul li a {
    text-decoration: none;
    font-size: 5px;
  }
}

/* */
@media only screen and (min-width: 768px) and (max-width: 975px) {
  footer {
    position: relative;
    width: 100%;
    height: 20vh;
    top: 20vh;
    font-size: 15px;
  }

  footer ul {
    position: relative;
    left: 35vh !important;
    list-style: none;
    gap: 15px;
    justify-content: right;
    text-decoration: none;
  }

  footer ul li a {
    text-decoration: none;
    font-size: 15px;
  }
}

/* Document
 * ========================================================================== */
/**
 * 1. Add border box sizing in all browsers (opinionated).
 * 2. Backgrounds do not repeat by default (opinionated).
 */
*,
::before,
::after {
  box-sizing: border-box;
  /* 1 */
  background-repeat: no-repeat;
  /* 2 */
}

/**
 * 1. Add text decoration inheritance in all browsers (opinionated).
 * 2. Add vertical alignment inheritance in all browsers (opinionated).
 */
::before,
::after {
  text-decoration: inherit;
  /* 1 */
  vertical-align: inherit;
  /* 2 */
}

/**
 * 1. Use the default cursor in all browsers (opinionated).
 * 2. Change the line height in all browsers (opinionated).
 * 3. Breaks words to prevent overflow in all browsers (opinionated).
 * 4. Use a 4-space tab width in all browsers (opinionated).
 * 5. Remove the grey highlight on links in iOS (opinionated).
 * 6. Prevent adjustments of font size after orientation changes in iOS.
 */
:where(:root) {
  cursor: default;
  /* 1 */
  line-height: 1.5;
  /* 2 */
  overflow-wrap: break-word;
  /* 3 */
  -moz-tab-size: 4;
  /* 4 */
  tab-size: 4;
  /* 4 */
  -webkit-tap-highlight-color: transparent;
  /* 5 */
  -webkit-text-size-adjust: 100%;
  /* 6 */
}

/* Sections
 * ========================================================================== */
/**
 * Remove the margin in all browsers (opinionated).
 */
:where(body) {
  margin: 0;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Edge, Firefox, and Safari.
 */
:where(h1) {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
 * ========================================================================== */
/**
 * Remove the margin on nested lists in Chrome, Edge, and Safari.
 */
:where(dl, ol, ul) :where(dl, ol, ul) {
  margin: 0;
}

/**
 * 1. Correct the inheritance of border color in Firefox.
 * 2. Add the correct box sizing in Firefox.
 */
:where(hr) {
  color: inherit;
  /* 1 */
  height: 0;
  /* 2 */
}

/**
 * Remove the list style on navigation lists in all browsers (opinionated).
 */
:where(nav) :where(ol, ul) {
  list-style-type: none;
  padding: 0;
}

/**
 * Prevent VoiceOver from ignoring list semantics in Safari (opinionated).
 */
:where(nav li)::before {
  content: "​";
  float: left;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 * 3. Prevent overflow of the container in all browsers (opinionated).
 */
:where(pre) {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
  overflow: auto;
  /* 3 */
}

/* Text-level semantics
 * ========================================================================== */
/**
 * Add the correct text decoration in Safari.
 */
:where(abbr[title]) {
  text-decoration: underline;
  text-decoration: underline dotted;
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
:where(b, strong) {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
:where(code, kbd, samp) {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
:where(small) {
  font-size: 80%;
}

/* Embedded content
 * ========================================================================== */
/*
 * Change the alignment on media elements in all browsers (opinionated).
 */
:where(audio, canvas, iframe, img, svg, video) {
  vertical-align: middle;
}

/**
 * Remove the border on iframes in all browsers (opinionated).
 */
:where(iframe) {
  border-style: none;
}

/**
 * Change the fill color to match the text color in all browsers (opinionated).
 */
:where(svg:not([fill])) {
  fill: currentColor;
}

/* Tabular data
 * ========================================================================== */
/**
 * 1. Collapse border spacing in all browsers (opinionated).
 * 2. Correct table border color inheritance in all Chrome, Edge, and Safari.
 * 3. Remove text indentation from table contents in Chrome, Edge, and Safari.
 */
:where(table) {
  border-collapse: collapse;
  /* 1 */
  border-color: inherit;
  /* 2 */
  text-indent: 0;
  /* 3 */
}

/* Forms
 * ========================================================================== */
/**
 * Remove the margin on controls in Safari.
 */
:where(button, input, select) {
  margin: 0;
}

/**
 * Correct the inability to style buttons in iOS and Safari.
 */
:where(button, [type=button i], [type=reset i], [type=submit i]) {
-webkit-appearance: button;
}

/**
 * Change the inconsistent appearance in all browsers (opinionated).
 */
:where(fieldset) {
  border: 1px solid #a0a0a0;
}

/**
 * Add the correct vertical alignment in Chrome, Edge, and Firefox.
 */
:where(progress) {
  vertical-align: baseline;
}

/**
 * 1. Remove the margin in Firefox and Safari.
 * 3. Change the resize direction in all browsers (opinionated).
 */
:where(textarea) {
  margin: 0;
  /* 1 */
  resize: vertical;
  /* 3 */
}

/**
 * 1. Correct the odd appearance in Chrome, Edge, and Safari.
 * 2. Correct the outline style in Safari.
 */
:where([type=search i]) {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Safari.
 */
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
 * Correct the text style of placeholders in Chrome, Edge, and Safari.
 */
::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54;
}

/**
 * Remove the inner padding in Chrome, Edge, and Safari on macOS.
 */
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style upload buttons in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
 * ========================================================================== */
/*
 * Add the correct styles in Safari.
 */
:where(dialog) {
  background-color: white;
  border: solid;
  color: black;
  height: -moz-fit-content;
  height: fit-content;
  left: 0;
  margin: auto;
  padding: 1em;
  position: absolute;
  right: 0;
  width: -moz-fit-content;
  width: fit-content;
}

:where(dialog:not([open])) {
  display: none;
}

/*
 * Add the correct display in Safari.
 */
:where(details > summary:first-of-type) {
  display: list-item;
}

/* Accessibility
 * ========================================================================== */
/**
 * Change the cursor on busy elements in all browsers (opinionated).
 */
:where([aria-busy=true i]) {
  cursor: progress;
}

/*
 * Change the cursor on control elements in all browsers (opinionated).
 */
:where([aria-controls]) {
  cursor: pointer;
}

/*
 * Change the cursor on disabled, not-editable, or otherwise
 * inoperable elements in all browsers (opinionated).
 */
:where([aria-disabled=true i], [disabled]) {
  cursor: not-allowed;
}

/*
 * Change the display on visually hidden accessible elements
 * in all browsers (opinionated).
 */
:where([aria-hidden=false i][hidden]) {
  display: initial;
}

:where([aria-hidden=false i][hidden]:not(:focus)) {
  clip: rect(0, 0, 0, 0);
  position: absolute;
}

/*css Variables prefix*/
/*font family*/
/*font sizes*/
/*12px*/
/*14px*/
/*16px*/
/*18px*/
/*20px*/
/*24px*/
/*30*/
/*36px*/
/*48px*/
/*60px*/
/* font weigth*/
/*leading / line heights*/
/*COLORS*/
/*THEME GLOBAL VALUES*/
/*INDEX*/
/* body .logo_Infinity {
  height: 80px;
  width: 80px;
  position: relative;
  background-image: url("../img/4.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
} */

body main .row {
  margin-top: 10vh;
}

body main li:hover {
  background-color: #334155 !important;
  border-radius: 30px;
}

body main li:hover a:hover {
  background-color: #334155;
  color: aliceblue;
  transition: 100ms;
  border-radius: 10px;
}

body main .cardIndex {
  text-align: justify;
}

body main .cardIndex .btn {
  display: none;
}

body main .cardIndex img {
  height: 180px;
  width: 180px;
}

body main .cardIndex:hover {
  box-shadow: 0px 0px 5px 1px grey;
  height: 400px;
  transition-property: height;
  transition-duration: 1500ms;
}

body main .cardIndex:hover .btn {
  margin-top: 50px;
  display: block;
}

body main .base-app {
  margin-top: 5vh;
}

body main .base-app .btn {
  margin-left: 40%;
  height: 50px;
  width: 180px;
  border-radius: 30px !important;
  border-color: #FFCA2C;
  border-width: 2px 2px 2px;
  border-style: solid solid solid;
}

body main .base-contact-form .col-auto {
  display: flex;
  background-color: #FFF !important;
  width: 600px !important;
  height: 100px;
  position: relative !important;
  left: 30%;
  margin-top: 100px;
  padding: 10 0 0 0;
  border-radius: 30px;
  gap: 10px !important;
}

body main .base-contact-form .col-auto .mb-3 {
  margin-top: 30px !important;
  border-radius: 10px !important;
  align-content: center !important;
}

body main .base-partners {
  align-items: center;
  height: 300px;
  margin-top: 10vh;
}

body main .base-partners .container-fluid .d-flex {
  gap: 60px;
}

body main .base-partners .container-fluid .partners_images {
  height: 160px;
  width: 150px;
  display: inline-block;
}

body main .base-socialmedia .reds ul {
  display: flex;
  list-style: none;
  gap: 15px;
  bottom: 0px;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  position: relative;
}

body main .base-socialmedia .reds li a {
  text-decoration: none;
}

body main .base-socialmedia .reds li img {
  height: 50px;
  width: 50px;
}

body main .base-experience {
  gap: 60px;
}

body main .base-experience :is(.experiences1, .experiences2, .experiences3, .experiences4, .experiences5, .experiences6, .experiences7, .experiences8, .experiences9, .experiences10) {
  display: inline-block;
  position: relative;
  justify-content: center;
  background-color: #e2e8f0;
  width: 300px;
  height: 300px;
  margin-left: 60px;
  margin-top: 60px;
  border-color: #475569;
  border-width: 2px 2px 2px;
  border-style: solid solid solid;
  grid-template-columns: 33.3% 33.3% 33.3%;
}

body main .base-experience :is(.experiences1, .experiences2, .experiences3, .experiences4, .experiences5, .experiences6, .experiences7, .experiences8, .experiences9, .experiences10) img {
  width: 70px;
  height: 70px;
  border-radius: 40px;
  float: left;
}

body main .base-experience :is(.experiences1, .experiences2, .experiences3, .experiences4, .experiences5, .experiences6, .experiences7, .experiences8, .experiences9, .experiences10) img p {
  display: flex;
  text-align: center;
  font-size: 7px;
  margin-left: 60px;
}

body main .base-experience :is(.experiences1, .experiences2, .experiences3, .experiences4, .experiences5, .experiences6, .experiences7, .experiences8, .experiences9, .experiences10) .instagram_log {
  height: 25px;
  width: 25px;
}

body main .base-experience :is(.experiences1, .experiences2, .experiences3, .experiences4, .experiences5, .experiences6, .experiences7, .experiences8, .experiences9, .experiences10) p {
  display: flex;
  vertical-align: top;
  text-align: justify;
}

body main .base-elegirnos :is(.elijen1, .elijen2, .elijen3, .elijen4, .elijen5, .elijen6, .elijen7) {
  display: inline-block;
  position: relative;
  justify-content: center;
  width: 300px;
  height: 380px;
  margin-left: 60px;
  margin-top: 60px;
  border-color: #475569;
  border-width: 2px 2px 2px;
  border-style: solid solid solid;
  border-radius: 50px;
}

body main .base-elegirnos :is(.elijen1, .elijen2, .elijen3, .elijen4, .elijen5, .elijen6, .elijen7) p {
  font-size: 20px;
}

body main .base-elegirnos :is(.elijen1, .elijen2, .elijen3, .elijen4, .elijen5, .elijen6, .elijen7) img {
  height: 280px;
  width: 180px;
  margin-left: 20%;
}

body main .base-elegirnos .elijen2 {
  background-color: #FFCA2C;
}

body main .base-elegirnos .elijen2 p {
  color: #FFF;
}

body main .base-elegirnos .elijen4 {
  background-color: #478AC9;
}

body main .base-elegirnos .elijen4 p {
  color: #FFF;
}

body main .base-elegirnos .elijen5 {
  background-color: #FFCA2C;
}

body main .base-elegirnos .elijen5 p {
  color: #FFF;
}

body main .base-elegirnos .elijen7 {
  background-color: #478AC9;
}

body main .base-elegirnos .elijen7 p {
  color: #FFF;
}

body main .whatsappbutton {
  position: absolute;
  height: 80px;
  width: 80px;
  float: left;
}

body main .whatsappbutton img {
  display: grid;
  z-index: 9000;
  position: fixed;
}

body main .base-geolocali-form {
  background-color: #478AC9;
  height: 400px;
  position: relative;
}

body main .base-geolocali-form h2 {
  color: #FFF;
}

body main .base-geolocali-form iframe {
  position: absolute;
  align-items: center;
  height: 300px;
  width: 400px;
  margin-left: 15%;
  margin-top: 5%;
  background-color: #FFF;
  border-color: #020617;
  border-width: 2px 2px 2px;
  border-style: solid solid solid;
  border-radius: 20px;
}

body main .base-geolocali-form .datos {
  position: static;
  margin-left: 50%;
}

body main .base-geolocali-form .datos p {
  color: #FFF;
}

body #slider {
  margin-top: 2vh;
}

@media only screen and (min-width: 360px) and (max-width: 770px) {
  body main .row {
    margin-top: 10vh;
  }

  body main .cardIndex {
    text-align: justify;
    height: 300px;
  }

  body main .cardIndex img {
    height: 180px;
    width: 180px;
  }

  body main .base-partners {
    align-items: center;
    height: 900px;
    margin-top: 10vh;
    display: block !important;
  }

  body main .base-partners .container-fluid .d-flex {
    gap: 10px;
  }

  body main .base-partners .container-fluid .partners_images {
    height: 160px;
    width: 150px;
  }

  body main .base-contact-form .col-auto {
    display: block;
    background-color: #FFF !important;
    width: 90% !important;
    height: 200px;
    position: relative !important;
    left: 1%;
    margin-top: 20px;
    padding: 10 0 0 0;
    border-radius: 30px;
    gap: 10px !important;
  }

  body main .base-contact-form .col-auto .mb-3 {
    margin-top: 10px !important;
    border-radius: 10px !important;
    align-content: center !important;
  }

  body main .base-experience {
    gap: 60px;
  }

  body main .base-experience :is(.experiences1, .experiences2, .experiences3, .experiences4, .experiences5, .experiences6, .experiences7, .experiences8, .experiences9, .experiences10) {
    display: inline-block;
    position: relative;
    justify-content: center;
    background-color: #e2e8f0;
    width: 300px;
    height: 300px;
    margin-left: 30px;
  }

  body main .base-experience :is(.experiences1, .experiences2, .experiences3, .experiences4, .experiences5, .experiences6, .experiences7, .experiences8, .experiences9, .experiences10) img {
    width: 70px;
    height: 70px;
    border-radius: 40px;
    float: left;
  }

  body main .base-experience :is(.experiences1, .experiences2, .experiences3, .experiences4, .experiences5, .experiences6, .experiences7, .experiences8, .experiences9, .experiences10) img p {
    display: flex;
    width: 10%;
    text-align: center;
    font-size: 7px;
    margin-left: 60px;
  }

  body main .base-experience :is(.experiences1, .experiences2, .experiences3, .experiences4, .experiences5, .experiences6, .experiences7, .experiences8, .experiences9, .experiences10) .instagram_log {
    height: 25px;
    width: 25px;
  }

  body main .base-experience :is(.experiences1, .experiences2, .experiences3, .experiences4, .experiences5, .experiences6, .experiences7, .experiences8, .experiences9, .experiences10) p {
    display: flex;
    vertical-align: top;
    text-align: justify;
  }

  body main .base-elegirnos :is(.elijen1, .elijen2, .elijen3, .elijen4, .elijen5, .elijen6, .elijen7) {
    width: 50%;
    height: 50%;
    margin-left: 40px;
  }

  body main .base-elegirnos :is(.elijen1, .elijen2, .elijen3, .elijen4, .elijen5, .elijen6, .elijen7) p {
    font-size: 15px;
  }

  body main .base-elegirnos :is(.elijen1, .elijen2, .elijen3, .elijen4, .elijen5, .elijen6, .elijen7) img {
    height: 50%;
    width: 50%;
    margin-left: 20%;
  }

  body main .whatsappbutton {
    position: absolute;
    height: 80px;
    width: 80px;
    float: left;
  }

  body main .whatsappbutton img {
    display: grid;
    z-index: 9000;
    position: fixed;
  }

  body main .base-geolocali-form {
    height: 40%;
    position: relative;
  }

  body main .base-geolocali-form iframe {
    height: 50%;
    width: 40%;
    margin-left: 5%;
    margin-top: 25%;
  }

  body main .base-geolocali-form .datos {
    position: static;
    margin-left: 50%;
    max-width: 20%;
  }

  body main .base-geolocali-form .datos p {
    display: flex word-break;
    margin-bottom: 10%;
    font-size: 10px;
    color: #FFF;
  }
}

/* */
@media screen and (min-width: 768px) and (max-width: 975px) {
  body main .row {
    margin-top: 10vh;
  }

  body main .cardIndex {
    text-align: justify;
  }

  body main .cardIndex img {
    height: 180px;
    width: 180px;
  }

  body main .base-partners {
    align-items: center;
    height: 900px;
    margin-top: 10vh;
    display: block !important;
  }

  body main .base-partners .container-fluid .d-flex {
    gap: 10px;
  }

  body main .base-partners .container-fluid .partners_images {
    height: 160px;
    width: 150px;
  }

  body main .base-contact-form .col-auto {
    display: block;
    background-color: #FFF !important;
    width: 90% !important;
    height: 200px;
    position: relative !important;
    left: 1%;
    margin-top: 20px;
    padding: 10 0 0 0;
    border-radius: 30px;
    gap: 10px !important;
  }

  body main .base-contact-form .col-auto .mb-3 {
    margin-top: 10px !important;
    border-radius: 10px !important;
    align-content: center !important;
  }

  body main .base-geolocali-form {
    top: 20vh !important;
    position: relative;
  }

  body main .base-geolocali-form iframe {
    top: 10vh;
    right: 60%;
    width: 300px;
  }

  body main .base-geolocali-form .datos {
    position: static;
    width: 200px;
  }

  body main .base-geolocali-form .datos p {
    font-size: 10px;
    color: #FFF;
  }
}

/*css Variables prefix*/
/*font family*/
/*font sizes*/
/*12px*/
/*14px*/
/*16px*/
/*18px*/
/*20px*/
/*24px*/
/*30*/
/*36px*/
/*48px*/
/*60px*/
/* font weigth*/
/*leading / line heights*/
/*COLORS*/
/*THEME GLOBAL VALUES*/
.ocultar {
  position: relative;
  right: 30px !important;
  height: 30px;
  width: 30px;
}

.oculto {
  display: none;
}

.contador {
  display: block;
  background-color: red;
  border-radius: 150px;
  padding: 5px;
  width: 30px;
  text-align: center;
  font-size: 14px;
  margin: -10px 0 0 30px;
}

.mostrar {
  text-decoration: line-through;
  font-size: 12px;
}

.producto {
  border: 1px solid rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  padding: 10px;
}

.productoCarrito h5,
.productoCarrito p {
  color: #FFF;
}

.productoCarrito img {
  height: 150px;
}

.producto .precio {
  padding: 10px 0;
  font-size: 20px;
  background-color: red;
  display: inline-block;
  padding: 4px 10px;
  color: white;
  border-radius: 10px;
  margin-top: 4px;
}

.producto .imagen {
  display: flex;
  justify-content: center;
  min-height: 160px;
  margin: 20px 0;
}

.cardshop {
  height: 500px;
  width: 550px;
}

.cardshop .card-envio {
  color: rgb(36, 208, 36) !important;
  font-size: 12px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.cardshop .card-img-top {
  height: 200px;
  width: 200px;
}

.cardshop .btnAgregar {
  display: none;
}

.cardshop:hover {
  height: fit-content;
}

.cardshop:hover .btnAgregar {
  display: block;
}

.producto:hover {
  border: 1px solid black;
  box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.2);
}

.base-contentShop {
  top: 5vh;
}

nav li:hover {
  border-radius: 30px;
}

nav li:hover a:hover {
  background-color: #334155;
  color: aliceblue !important;
  transition: 100ms;
  border-radius: 30px;
}

.todos:hover li a {
  background-color: #334155;
}

@media only screen and (min-width: 360px) and (max-width: 770px) {
  body main .row {
    margin-top: 10vh;
  }

  body main .cardshop {
    text-align: justify;
    height: 300px;
    width: fit-content;
  }

  body main .cardshop img {
    height: 180px;
    width: 180px;
  }

  body main .base-partners {
    align-items: center;
    height: 700px;
    margin-top: 10vh;
    display: block !important;
  }

  body main .base-partners .container-fluid .d-flex {
    gap: 10px;
  }

  body main .base-partners .container-fluid .partners_images {
    height: 160px;
    width: 150px;
  }

  body main .base-contact-form .col-auto {
    display: block;
    background-color: #FFF !important;
    width: 90% !important;
    height: 250px;
    position: relative !important;
    left: 1%;
    margin-top: 5px;
    padding: 10 0 0 0;
    border-radius: 30px;
    gap: 10px !important;
  }

  body main .base-contact-form .col-auto .mb-3 {
    margin-top: 10px !important;
    border-radius: 10px !important;
    align-content: center !important;
  }

  body main .base-experience {
    gap: 60px;
  }

  body main .base-experience :is(.experiences1, .experiences2, .experiences3, .experiences4, .experiences5, .experiences6, .experiences7, .experiences8, .experiences9, .experiences10) {
    display: inline-block;
    position: relative;
    justify-content: center;
    background-color: #e2e8f0;
    width: 300px;
    height: 300px;
    margin-left: 30px;
  }

  body main .base-experience :is(.experiences1, .experiences2, .experiences3, .experiences4, .experiences5, .experiences6, .experiences7, .experiences8, .experiences9, .experiences10) img {
    width: 70px;
    height: 70px;
    border-radius: 40px;
    float: left;
  }

  body main .base-experience :is(.experiences1, .experiences2, .experiences3, .experiences4, .experiences5, .experiences6, .experiences7, .experiences8, .experiences9, .experiences10) img p {
    display: flex;
    width: 10%;
    text-align: center;
    font-size: 7px;
    margin-left: 60px;
  }

  body main .base-experience :is(.experiences1, .experiences2, .experiences3, .experiences4, .experiences5, .experiences6, .experiences7, .experiences8, .experiences9, .experiences10) .instagram_log {
    height: 25px;
    width: 25px;
  }

  body main .base-experience :is(.experiences1, .experiences2, .experiences3, .experiences4, .experiences5, .experiences6, .experiences7, .experiences8, .experiences9, .experiences10) p {
    display: flex;
    vertical-align: top;
    text-align: justify;
  }

  body main .cardshop h5 {
    font-size: 18px;
  }

  body main .cardshop p {
    display: none;
  }

  body main .cardshop:hover p {
    font-size: 12px;
    display: block;
  }

  body main .base-elegirnos :is(.elijen1, .elijen2, .elijen3, .elijen4, .elijen5, .elijen6, .elijen7) {
    width: 50%;
    height: 50%;
    margin-left: 40px;
  }

  body main .base-elegirnos :is(.elijen1, .elijen2, .elijen3, .elijen4, .elijen5, .elijen6, .elijen7) p {
    font-size: 15px;
  }

  body main .base-elegirnos :is(.elijen1, .elijen2, .elijen3, .elijen4, .elijen5, .elijen6, .elijen7) img {
    height: 50%;
    width: 50%;
    margin-left: 20%;
  }

  body main .whatsappbutton {
    position: absolute;
    height: 80px;
    width: 80px;
    float: left;
  }

  body main .whatsappbutton img {
    display: grid;
    z-index: 9000;
    position: fixed;
  }

  body main .base-geolocali-form {
    height: 40%;
    position: relative;
  }

  body main .base-geolocali-form iframe {
    height: 50%;
    width: 40%;
    margin-left: 5%;
    margin-top: 15%;
  }

  body main .base-geolocali-form .datos {
    position: static;
    margin-left: 50%;
    max-width: 20%;
  }

  body main .base-geolocali-form .datos p {
    display: flex word-break;
    margin-bottom: 45%;
    font-size: 10px;
    color: #FFF;
  }

  body main #categorias {
    display: flex;
    list-style: none;
    gap: 15px;
    bottom: 0px;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    position: relative;
  }

  body main #categorias li a {
    text-decoration: none;
  }
}

/* */
@media screen and (min-width: 768px) and (max-width: 975px) {
  body main .row {
    margin-top: 10vh;
  }

  body main .cardshop {
    text-align: justify;
    width: fit-content;
  }

  body main .cardshop img {
    height: 180px;
    width: 180px;
  }

  body main .cardshop h5 {
    font-size: 18px;
  }

  body main .cardshop p {
    display: none;
  }

  body main .cardshop:hover p {
    font-size: 12px;
    display: block;
  }

  body main .base-partners {
    align-items: center;
    height: 900px;
    margin-top: 10vh;
    display: block !important;
  }

  body main .base-partners .container-fluid .d-flex {
    gap: 10px;
  }

  body main .base-partners .container-fluid .partners_images {
    height: 160px;
    width: 150px;
  }

  body main .base-contact-form .col-auto {
    display: block;
    background-color: #FFF !important;
    width: 90% !important;
    height: 200px;
    position: relative !important;
    left: 1%;
    margin-top: 20px;
    padding: 10 0 0 0;
    border-radius: 30px;
    gap: 10px !important;
  }

  body main .base-contact-form .col-auto .mb-3 {
    margin-top: 10px !important;
    border-radius: 10px !important;
    align-content: center !important;
  }

  body main .base-geolocali-form {
    top: 20vh !important;
    position: relative;
  }

  body main .base-geolocali-form iframe {
    top: 10vh;
    right: 60%;
    width: 300px;
  }

  body main .base-geolocali-form .datos {
    position: static;
    width: 200px;
  }

  body main .base-geolocali-form .datos p {
    font-size: 10px;
    color: #FFF;
  }
}

/*css Variables prefix*/
/*font family*/
/*font sizes*/
/*12px*/
/*14px*/
/*16px*/
/*18px*/
/*20px*/
/*24px*/
/*30*/
/*36px*/
/*48px*/
/*60px*/
/* font weigth*/
/*leading / line heights*/
/*COLORS*/
/*THEME GLOBAL VALUES*/
/* // Small devices (landscape phones, 576px and up) */

/*# sourceMappingURL=style.css.map */